<div class="modal p-4 fs-4" tabindex="-1" role="dialog" id=<%=id %>>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center   text-center justify-content-center p-4">
        <p>
          <%= confirmationMsg %>
        </p>
      </div>
      <div class="modal-footer">
        <form action="" onclick="return false">
          <button type="button" class="btn btn-dark" onclick=<%="closeModal('" + id +"')" %>>Cancel</button>
          <button type="button" id="confirmBtn-<%= id %>" class="btn btn-success" <%=onclick!==0? ("onclick=" + onclick ):'' %>><%= submitBtnText %></button>
        </form>
      </div>
    </div>
  </div>
</div>